@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swapp');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    margin: 0!important;
    padding: 0!important;
}

body,
button,
label,
#text,
div,
p,
span,
a,
li {
    font-family: 'Montserrat', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arvo', Arial, sans-serif;
}

.pr7 {
    margin-right: 7px;
}

.pr5 {
    margin-right: 5px;
}

.pr3 {
    margin-right: 3px;
}

.pr1 {
    margin-right: 1px;
}

.orange-glow {
    filter: drop-shadow(0 0 8px rgba(255, 165, 0, 0.2)) drop-shadow(0 0 12px rgba(255, 165, 0, 0.3));
}

.white-glow {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.05)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 15px rgba(255, 255, 255, 0.2));
}

.fade-in {
    animation: fadeIn 0.75s ease-out forwards;
}

.roll-down {
        animation: rollDown 0.75s ease-out forwards;
}

.roll-down-fast {
    animation: rollDown 0.25s ease-out forwards;
}

.roll-up {
    animation: rollUp 0.75s ease-out forwards;
}

.roll-up-fast {
    animation: rollUp 0.25s ease-out forwards;
    }

.draw-line {
    animation: drawLine 0.75s ease-out forwards;
}

    @keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rollDown {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes rollUp {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}