@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swapp');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', Arial, sans-serif;
}

html {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 165, 0, 0.5)), url('/images/spice-bg.avif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    /* Ensures text is readable on a dark background */
}

body,
button,
label,
#text,
div,
p,
span,
a,
li {
    font-family: 'Montserrat', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arvo', Arial, sans-serif;
}

.pr7 {
    margin-right: 7px;
}

.pr5 {
    margin-right: 5px;
}

.pr3 {
    margin-right: 3px;
}

.pr1 {
    margin-right: 1px;
}

.orange-glow {
    filter: drop-shadow(0 0 8px rgba(255, 165, 0, 0.2)) drop-shadow(0 0 12px rgba(255, 165, 0, 0.3));
}

.white-glow {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.05)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 15px rgba(255, 255, 255, 0.2));
}

.maroon-glow {
    filter: drop-shadow(0 0 5px rgba(46, 18, 6, 0.5)) drop-shadow(0 0 10px rgba(46, 18, 6, 0.7  )) drop-shadow(0 0 15px rgba(46, 18, 6, 0.9));

}
.overlay-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fade-in {
    animation: fadeIn 0.75s ease-out forwards;
}

.roll-down {
        animation: rollDown 0.75s ease-out forwards;
}

.roll-down-fast {
    animation: rollDown 0.25s ease-out forwards;
}

.roll-up {
    animation: rollUp 0.75s ease-out forwards;
}

.roll-up-fast {
    animation: rollUp 0.25s ease-out forwards;
    }

.draw-line {
    animation: drawLine 0.75s ease-out forwards;
}

    @keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rollDown {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes rollUp {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInFromLeft 0.75s ease-out forwards;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slideInFromRight 0.75s ease-out forwards;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above other content */
}

.modal-content {
    backdrop-filter: blur(8px) saturate(179%);
    -webkit-backdrop-filter: blur(8px) saturate(179%);
    background-color: rgba(255, 165, 0, 0.4);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    /* Adjust based on content */
    min-width: 300px;
    max-width: 500px;
    height: auto;
    min-height: 400px;
    max-height: 80vh;
    z-index: 1001;
        -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.close-button {
    position: absolute;
    float: left;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

@-webkit-keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

