.hero {
    background-image: url('/images/hero.webp');
    background-size: cover;
    /* or 'contain' based on your preference */
    background-position: center center;
    position: relative;
    width: 100%;
    height: auto;
    /* Adjust height automatically based on width */
    aspect-ratio: 1653 / 557;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black with 50% opacity */
}

.hero img {
    max-width: 100%;
    /* Ensures the logo scales correctly */
    z-index: 2;
    /* Ensure the logo is above the background */
}

.menuLinks {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

.menuLink {
    margin-right: 10px;
    color: white;
    /* Example style */
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 3vh;
    left: 3vw;
    background-color: rgba(237, 233, 233, 0.5);
    padding: 5px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: clamp(75px, 16vw, 200px);
    /* Adjust clamp values based on your design needs */
}

@media (max-width: 768px) {
    .hero {
    background-image: url('/images/heroMobile.webp');
    aspect-ratio: 752 / 500;
    }

    .logo {
        border-radius: 20px;
        top: 2vh;
        left: 2vw;
    }
}