.hero {
    background-image: url('/images/hero.webp');
    background-size: cover;
    /* or 'contain' based on your preference */
    background-position: center center;
    position: relative;
    width: 100%;
    height: auto;
    /* Adjust height automatically based on width */
    aspect-ratio: 1653 / 557;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black with 50% opacity */
}

.hero img {
    max-width: 100%;
    /* Ensures the logo scales correctly */
    z-index: 2;
    /* Ensure the logo is above the background */
}

.menuLinks {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

.menuLink {
    margin-right: 10px;
    color: white;
    /* Example style */
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 3vh;
    left: 3vw;
    background-color: rgba(237, 233, 233, 0.5);
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.6);
    padding: 5px;
    border-radius: 30px;
}

.logo img {
    width: clamp(75px, 16vw, 200px);
    /* Adjust clamp values based on your design needs */
}

.ctaBox {
    background-color: rgba(237, 233, 233, 0.5);
    color: #272626;
    padding: 15px 25px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.6);
    position: absolute;
    width: clamp(10px, 30vw, 200px);
    bottom: 50px;
    right: 35px;
    font-size: clamp(14px, 2vw, 18px);
    }

.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.orderButton {
    background-color: #FFA500;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
        font-size: clamp(12px, 1.5vw, 18px);
            /* Smaller on smaller screens, larger on larger screens */
            padding: clamp(8px, 2vw, 20px) clamp(16px, 4vw, 40px);
            /* Dynamic padding based on viewport width */
}

.orderButton:hover {
    background-color: #CC8400;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .hero {
    background-image: url('/images/heroMobile.webp');
    aspect-ratio: 752 / 500;
    }

    .logo {
        border-radius: 20px;
        top: 2vh;
        left: 2vw;
    }
}