/* components/Login.module.css */
.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 88%;
    height: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.linkButton {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.signInButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signInButton:hover {
    background-color: #0056b3;
}