.navbar {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(18, 18, 18, 0.8);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 500;
}

.burgerMenu {
    margin-right: 10px;
}


.brand {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.navLinks {
    display: flex;
    list-style-type: none;
}

.navLink {
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.navLink:hover {
    color: #FFA500;
}

.orderBtn {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.orderBtn:hover {
    background-color: #CC8400;
    transform: scale(1.1);
}

.mobileMenu {
    display: none;
}

.loginBtn {
    margin-left: 100px;
}

@media (max-width: 768px) {
    .orderBtn {
        background: none;
        padding: 0;
    }

    .orderBtn:hover {
        background: none;
    }

    .hide {
        display: none;
    }

    .show {
        display: flex;
        position: fixed;
        flex-direction: column;
        left: 0;
        width: 35%;
        background-color: rgba(18, 18, 18, 0.8);
        color: white;
        z-index: 1100;
        overflow: visible;
    }

    .line {
        width: 30%;
        height: 1px;
        background-color: white;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 35vw;
    }

    .navLink {
        padding: 10px;
        display: block;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    .navLink:hover {
        color: #FFA500;
    }
}